<% include partials/header %>

<div class="landing">
    <div class="landing-text">
        <h2>Find Campgrounds across the country, Add your experience and review the campgrounds</h2>
        <div style="margin-top:300px;">
            <a href="/campgrounds"><button type="button" class="btn btn-primary">View Campgrounds</button></a>
        </div>
    </div>
</div>
<% include partials/footer %>