<% include partials/header %>
<div class="container">
  <h1 style="text-align:center">REGISTER</h1>
  <div style="width:50%; margin:20px auto;">
    <form action="/register" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" aria-describedby="helpId" placeholder="Enter Username"
          required>
        <small id="helpId" class="form-text text-muted">username@domain.com</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="Enter Password"
          required>
        <small id="helpId" class="form-text text-muted">Keep it strong</small>
      </div>
      <div class="form-group">
        <button class="btn btn-block my-2 my-sm-0 btn-primary" name="button">Register</button>
      </div>
    </form>
  </div>
</div>
<% include partials/footer %>