body {
  color: black;

}

.landing-text {
  text-align: center;
}

.landing {
  background-image: url(night-839807_1920.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Lato', sans-serif;
  color: #f1f1f1;
  padding: 154px;
  height: 100%;
}

.img-thumbnail {
  padding: 0;
}

.img {
  width: 100%;
}

.caption-full {
  padding: 1em;
}

.delete-form {
  display: inline;
}